# Builds a docker image, publishes it to GitHub's docker repo (ghcr.io).
# The workflow will only run if commit message contains [tag:patch|minor|major]

# See: https://docs.github.com/en/enterprise-cloud@latest/actions/using-workflows/reusing-workflows

name: Build Go container

on:
  workflow_dispatch:
  workflow_call:
    # outputs:
    #   artifact:
    #     description: Name of the build artifact
    #     value: ${{ jobs.package.outputs.artifact }}

jobs:
  package:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Workflowout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "6.0"

      - name: Resolve dependencies
        shell: bash
        run: |
          pushd './.'
          dotnet build --configuration Release --output ./output
          popd

      - uses: actions/upload-artifact@v3
        with:
          name: package
          path: ${{ github.workspace }}/output
          retention-days: 1

      - name: Increment version
        id: version
        uses: anothrNick/github-tag-action@1.67.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DRY_RUN: true
          PRERELEASE: ${{ github.ref != 'refs/heads/main' }}
          DEFAULT_BUMP: patch
          MAJOR_STRING_TOKEN: "MAJOR"
          MINOR_STRING_TOKEN: "MINOR"
          PATCH_STRING_TOKEN: "PATCH"

      - name: Create release
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.repos.createRelease({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag_name: "${{ steps.version.outputs.new_tag }}"
            })
